@tailwind base;
@tailwind components;
@tailwind utilities;


/* .krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
 
body{
    @apply font-base text-dark bg-light-grey;
}