@tailwind base;
@tailwind components;
@tailwind utilities;


/* .krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
 
body{
    font-family: 'Korna One', sans-serif;
}